@model IEnumerable<BirdDTO>

@{
    ViewData["Title"] = "Your Birds";
}

@section Styles {
    <link rel="stylesheet" href="~/css/birds/index.css" />
}

<div class="container-bird">
    <div class="container-bird-info">
        <h2>Your birds</h2>
        <a asp-action="Create" class="btn bird-add-btn">Add Bird</a>
    </div>
</div>

<hr style="border: 1px solid #9e6b55;">

<section class="bird-main">
    @foreach (var item in Model)
    {
        <div class="wrap">
            <div class="item">
                <p>@item.Name</p>
                <a style ="text-decoration: none;color: #000;" href="" class="bird-link">
                    <img src="@Url.Action("GetImageFromBytes", "Birds", new { id = item.Id })" alt="">
                </a>
                <div class="bird-actions">
                    <a class="bird-btn edit-btn" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a class="bird-btn achievements-btn" asp-action="ViewAchievements" asp-route-id="@item.Id">
                        <i class="fa-solid fa-trophy"></i>
                    </a>
                    <a class="bird-btn delete-btn" onclick="initDelete(@item.Id)">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</section>

<div class="delete-container">
    <form class="delete-form" asp-action="Delete">
        <h2>Are you sure you want to delete this bird?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="bird-id" name="Id" />

        <div class="delete-control">
            <input class="bird-btn delete-btn" type="submit" value="Delete" />
            <button class="bird-btn cancel-btn" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/birds/index.js"></script>
}
