@model IEnumerable<Bird>

@{
    ViewData["Title"] = "Your Birds";
}
@section Styles
{
    <link rel="stylesheet" href="~/css/birds/bird_profile.css" />
}

@* add giao dien bird collection (chua hoan thien 100%, nhung đã hoàn thiện cấu hình sau khi add bird) *@
<header>
    <div class="container-bird">
        <div class="profile">
            <div class="profile-image">
                <img src="./img/dropdown/ava.png" alt="">
            </div>
        </div>
        <div class="profile-info">
            <h1 class="profile-name">user_name</h1>
            <button class="btn profile-edit-btn">Add Bird</button>
        </div>
    </div>
</header>
<hr>
<h2>Your birds</h2>
<section class="main">
    <a style="text-decoration: none;color: black;" href="">
        <div class="wrap">
            <div class="item">
                <p>Ní ơi</p>
                <img src="~/img/birds/cm5.png" alt="">
            </div>
        </div>
    </a>

    <div class="wrap">
        <div class="item">
            <p>A phồ</p>
            <img src="~/img/birds/cm6.png" alt="">
        </div>
    </div>

    <div class="wrap">
        <div class="item">
            <p>Bảo bảo</p>
            <img src="~/img/birds/cm7.png" alt="">
        </div>
    </div>
    <div class="wrap">
        <div class="item">
            <p>A lữ</p>
            <img src="~/img/birds/cm4.png" alt="">
        </div>
    </div>



</section>



@* <h1>Index</h1>

<p>
<a asp-action="Create">Create New</a>
</p>
<table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.Name)
</th>
<th>
@Html.DisplayNameFor(model => model.Description)
</th>
<th>
@Html.DisplayNameFor(model => model.Species)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
<tr>
<td>
@Html.DisplayFor(modelItem => item.Name)
</td>
<td>
@Html.DisplayFor(modelItem => item.Description)
</td>
<td>
@Html.DisplayFor(modelItem => item.Species)
</td>
<td>
<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
</td>
</tr>
}
</tbody> 
</table>
*@
@* link js *@
@section Scripts {
    @{
        <script src="~/js/birds/bird_profile.js"></script>
    }
}
