@model Blog

@section Styles
{
    <link rel="stylesheet" href="~/css/blog/detail.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
}

@{
    ViewData["Title"] = "Details";
}

<section class="blog-section">
    <div class="blog-comment-container">
        <a asp-action="Index" class="back-button big-view">Back</a>
        <div class="blog-container">
            <div class="blog-thumbnail-container">
                <img class="blog-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = Model.Id })" alt="thumbnail" />
            </div>

            <div class="blog-body">
                <div class="blog-info-container">
                    <div class="blog-author-info-container">
                        <div class="blog-author-ava-container">
                            <img class="blog-author-ava" src="@Url.Action("GetImageFromBytes", "Profile", new { id = Model.UserId })" alt="author" />
                        </div>

                        <p class="blog-author-name">By @Model.User.Name</p>
                    </div>

                    <p class="blog-create-date">@Model.DateCreated.ToString("dd MMMM, yyyy")</p>
                </div>

                <h2 class="blog-title">@Model.Title</h2>

                <div class="blog-content">@Html.Raw(Model.Contents)</div>
            </div>
        </div>
        <hr />

        @await Html.PartialAsync("_CommentSection", Model)
    </div>

    <div class="blog-utils-container">
        <a class="create-blog-button" asp-controller="Blogs" asp-action="Create">Create Blog</a>
        <div class="search-blogs-container">
            <h2>Search</h2>
            <form asp-action="Search" class="search-box-container">
                <input name="keyword" class="search-box" type="text" placeholder="Search..." />
                <button class="search-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="latest-blogs-container">
            <h2>Latest News</h2>

            @foreach (var item in ViewBag.NewBlogs)
            {
                <a class="latest-blog" asp-action="Details" asp-route-id="@item.Id">
                    <div class="latest-blog-thumbnail-container">
                        <img class="latest-blog-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = item.Id })" alt="thumbnail" />
                    </div>

                    <div class="latest-blog-title">@item.Title</div>
                </a>
            }
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/blog/detail.js"></script>
}