@model IEnumerable<Blog>

@section Styles
{
    <link rel="stylesheet" href="~/css/blog/blog.css" />
}

@if (ViewBag.SearchKey != null)
{
    <h1>Showing search results for "@ViewBag.SearchKey"</h1>
}
<section class="blogs-section">
    <div class="blogs-container">
        @foreach (var item in Model)
        {
            <div class="blog-container">
                <div class="blog-thumbnail-container">
                    <img class="blog-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = item.Id })" alt="thumbnail" />
                </div>

                <div class="blog-body">
                    <div class="blog-info-container">
                        <div class="blog-author-info-container">
                            <div class="blog-author-ava-container">
                                <img class="blog-author-ava" src="@Url.Action("GetImageFromBytes", "Profile", new { id = item.UserId })" alt="author" />
                            </div>

                            <p class="blog-author-name">By @item.User.Name</p>
                        </div>

                        <p class="blog-create-date">@item.DateCreated.ToString("dd MMMM, yyyy")</p>
                    </div>

                    <h2 class="blog-title">@item.Title</h2>

                    @*<div class="blog-content">@Html.Raw(item.Contents)</div>*@

                    <a class="blog-detail-button" asp-controller="Blogs" asp-action="Details" asp-route-id="@item.Id">Read more</a>
                </div>
            </div>
        }
    </div>

    <div class="blog-utils-container">
        <a class="create-blog-button" asp-controller="Blogs" asp-action="Create">Create Blog</a>
        <div class="search-blogs-container">
            <h2>Search</h2>
            <form asp-action="Search" class="search-box-container">
                <input name="keyword" class="search-box" type="text" placeholder="Search..." />
                <button class="search-button" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="latest-blogs-container">
            <h2>Latest News</h2>

            @foreach (var item in ViewBag.NewBlogs)
            {
                <a class="latest-blog" asp-action="Details" asp-route-id="@item.Id">
                    <div class="latest-blog-thumbnail-container">
                        <img class="latest-blog-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = item.Id })" alt="thumbnail" />
                    </div>

                    <div class="latest-blog-title">@item.Title</div>
                </a>
            }
        </div>
    </div>
</section>