@model IClubEventDTO

@{
    ViewData["Title"] = "Details";
}

<section class="event-section">
    <div class="event-detail-header-links">
        <a class="button back-button" asp-controller="ClubEvents" asp-action="Index">
            <i class="fa-solid fa-backward"></i>
            Club events
        </a>
    </div>
    <!--TODO highlights section-->
    <div class="event-body">
        <h1 class="event-title">@Model.Name</h1>

        <div class="address-info">
            <p><b>This event takes place at:</b> @Model.Address</p>
        </div>

        <div class="date-info">
            <p><b>Start date:</b> @Model.StartDate</p>
            <p><b>Expected end date:</b> @Model.ExpectedEndDate</p>
            <p><b>Registration period:</b> @Model.RegOpenDate - @Model.RegCloseDate</p>
        </div>

        <div class="event-entrance-container">
            <p><b>Number of participants:</b> @Model.RegLimit</p>
            <p><b>Fee:</b> @Model.Fee</p>
            <p><b>Status:</b> @EventStatuses.Convert(Model.Status)</p>
        </div>
        
        <div class="event-description-container">
            <h2 class="event-description-title">Description</h2>
            <div class="event-description">
                @Html.Raw(Model.Description)
            </div>
        </div>
    </div>
</section>