@model IClubEvent

@{
    ViewData["Title"] = "Details";
}

<section class="event-section">
    <a class="back-button" asp-controller="ClubEvents" asp-action="Index">Back to List</a>
    <div class="event-body">
        <h1 class="event-title">@Model.Name</h1>
        <p class="event-date">@Model.Date</p>
        
        <div class="event-description-container">
            <h2 class="event-description-title">Description</h2>
            <p class="event-description">@Model.Description</p>
        </div>
        <div class="event-entrance-container">
            <p><b>Registration close date:</b> @Model.RegistrationCloseDate</p>
            <p class="event-fee"><b>Fee:</b> @Model.Fee</p>
            <p class="status"><b>Status:</b> @Model.Status</p>
        </div>

        @if (Model.Status == "Open")
        {
            switch (Model)
            {
                case FieldTrip:
                    <a class="register-button" asp-action="Register" asp-controller="FieldTripRegistrations" asp-route-fieldTripId="@Model.Id">Register</a>
                    break;

                case Meeting:
                    <a class="register-button" asp-action="Register" asp-controller="MeetingRegistrations" asp-route-meetingId="@Model.Id">Register</a>
                    break;

                case Tournament:
                    <a class="register-button" asp-action="Register" asp-controller="TournamentRegistrations" asp-route-tournamentId="@Model.Id">Register</a>
                    break;
            }
        }
    </div>
</section>