@model IEnumerable<BirdClubInfoHub.Models.IClubEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @{
                        string controller = string.Empty;
                        switch (item)
                        {
                            case FieldTrip:
                                controller = "FieldTrips";
                                break;
                            case Meeting:
                                controller = "Meetings";
                                break;
                            case Tournament:
                                controller = "Tournaments";
                                break;
                            default:
                                break;
                        }
                    }
                    <a asp-controller="@controller" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

