@model TournamentDTO

@section Styles
{
    <link rel="stylesheet" href="~/css/event/detail.css" />
}

@{
    ViewData["Title"] = "Details";
}

@await Html.PartialAsync("~/Views/ClubEvents/_EventDetail.cshtml", Model)

<div class="event-detail-footer-links">
    @if (ViewBag.Status == "Unauth")
    {
        <a class="button login-button" asp-action="Index" asp-controller="Login">Login to register</a>
    }
    @if (ViewBag.Status == "NoSlots")
    {
        <button class="button disabled-button" type="button" disabled>This event has reached maximum participants!</button>
    }
    @if (ViewBag.Status == "Registered")
    {
        <button class="button disabled-button" type="button" disabled>No eligible birds for registration</button>
    }
    @if (ViewBag.Status == "Available" || ViewBag.Status == "Limited")
    {
        <button class="button register-button" type="button" onclick="initRegister()">Register</button>
    }
</div>

@if (ViewBag.Status == "Available" || ViewBag.Status == "Limited")
{
    <div class="register-event-container">
        <form class="register-event-form">
            <h2>Register</h2>
            <p>Do you want to register for this tournament?</p>
            <p>Note: You can only have at most 2 unpaid registrations per tournament at a time</p>

            <input type="hidden" asp-for="Id" />

            <select class="bird-select" name="birdId" asp-items="@ViewBag.BirdOptions">
                <option value="" hidden>Choose a bird</option>
            </select>

            <div class="register-event-control">
                <button class="button register-button" type="submit" asp-action="Register" asp-controller="TournamentRegistrations">
                    Register and pay entrance fee online with VNPay
                </button>
                @if (ViewBag.Status == "Available")
                {
                    <button class="button register-no-pay-button" type="submit" asp-action="RegisterNoPay" asp-controller="TournamentRegistrations">
                        Register now, pay later
                    </button>
                }
                <button class="button cancel-button" type="button" onclick="cancelRegister()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
}

@if (Model.Status == EventStatuses.Ended)
{
    <div class="navtab">
        <button class="btn navtab-btn" id="1">Highlights</button>
        <button class="btn navtab-btn" id="2">Ranking</button>
    </div>
    <div class="ranking-container">
        <div class="tab-content">
            <!-- Highlights -->
            <div class="highlight tab-content-item" data-id="1">
                <h1 class="highlight-title">Highlights</h1>
                <div class="highlight-container">
                    @Html.Raw(Model.Highlights)
                </div>
            </div>
            <!-- Bird standings -->
            <main class="table tab-content-item" data-id="2">
                <section class="ranking-header">
                    <h1>Leaderboard</h1>
                    @* add search here *@
                    <div class="input-group">
                        <input type="search" placeholder="Search something...">
                        <img src="~/img/events/search_icon.svg" alt="">
                    </div>
                    @* add select-menu *@
                    <div class="select-menu">
                        
                        <div class="select">
                            <span class="selected">Choose option..</span>
                            <i class="bx bx-chevron-down caret"></i>
                        </div>
                        <ul class="menu">
                            <li>Adobe Photoshop</li>
                            <li>Adobe Illustrator</li>
                            <li>Adobe Indesign</li>
                            <li>Adobe Premiere</li>
                        </ul>
                    </div>
                </section>
                <section class="ranking-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Bird</th>
                                <th>User</th>
                                <th>Placement</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TournamentStandings)
                            {
                                <tr>
                                    <td>@item.Bird.Name</td>
                                    <td>@item.Bird.User.Name</td>
                                    <td>@TournamentPlacements.Convert(item.Placement)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </section>
            </main>
        </div>

    </div>
}

@section Scripts {
    <script src="~/js/event/detail.js"></script>
}