@model FieldTripDTO

@{
    ViewData["Title"] = "Create";
    string lowerBound = DateTime.Now.ToString("yyyy-MM-ddThh:mm");
    string upperBound = DateTime.Now.AddYears(1).ToString("yyyy-MM-ddThh:mm");
    string regOpenLowerBound = DateTime.Now.AddMonths(-4).ToString("yyyy-MM-ddThh:mm");
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="main-form">
    <section class="container-template">
        <h2>Create new field trip</h2>
        <form asp-action="Create" class="form" onsubmit="return validateAll()">

            <div class="input-box name-field">
                <label>Name</label>
                <input asp-for="Name" placeholder="Enter field trip name" required class="name" />
                <!-- add error message here -->
                <span class="error name-error">
                    <img src="~/img/resetpass/alert-circle.svg" alt="">
                    <p class="error-text">Field trip name cannot be empty.</p>
                </span>
            </div>

            <div class="column">

                <div class="input-box start-date-field">
                    <label>Event start date</label>
                    <input asp-for="StartDate" min="@lowerBound" max="@upperBound" required class="start-date" />
                    <span class="error date-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text"></p>
                    </span>
                </div>

                <div class="input-box end-date-field">
                    <label>Event expected end date</label>
                    <input asp-for="ExpectedEndDate" min="@lowerBound" max="@upperBound" required class="end-date" />
                    <span class="error date-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text"></p>
                    </span>
                </div>

            </div>

            <div class="column">

                <div class="input-box reg-open-date-field">
                    <label>Open registration date</label>
                    <input asp-for="RegOpenDate" min="@regOpenLowerBound" max="@upperBound" required class="reg-open-date" />
                    <span class="error date-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text"></p>
                    </span>
                </div>

                <div class="input-box reg-close-date-field">
                    <label>Close registration date</label>
                    <input asp-for="RegCloseDate" min="@lowerBound" max="@upperBound" required class="reg-close-date" />
                    <span class="error date-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text"></p>
                    </span>
                </div>

            </div>

            <div class="column">

                <div class="input-box reg-limit-field">
                    <label>Maximum number of participants</label>
                    <input asp-for="RegLimit" placeholder="How many participants can join?" required class="reg-limit" type="number" />
                    <!-- add error message here -->
                    <span class="error reg-limit-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text">Must be between 1 and 200.</p>
                    </span>
                </div>

                <div class="input-box fee-field">
                    <label>Entrance fee</label>
                    <input asp-for="Fee" placeholder="Enter entrance fee" required class="fee" type="number" />
                    <!-- add error message here -->
                    <span class="error fee-error">
                        <img src="~/img/resetpass/alert-circle.svg" alt="">
                        <p class="error-text">Fee must be between 1 and 100,000,000.</p>
                    </span>
                </div>

            </div>

            <div class="input-box address-field">
                <label>Address</label>
                <input asp-for="Address" placeholder="e.g. At Club" class="address" />
            </div>

            <div class="input-box description-field">
                <label>Description</label>
                <textarea id="field-trip-description" name="Description"></textarea>
            </div>

            <input class="button" type="submit" value="Create" />
        </form>
        <div class="back-region">
            <a asp-action="Index" asp-controller="ClubEvents" class="back-link">Back</a>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_Summernote", new { Height = 500, Selector = "#field-trip-description" });
    }
    <script src="~/js/event/create-edit.js"></script>
}
