@model IEnumerable<MembershipRequest>

@{
    ViewData["Title"] = "Full List";
}


@section Styles {
    @*<link rel="stylesheet" href="~/css/reset.css" />*@
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/membership-request/index.css" />
}

<section class="table-header">
    <h2>Membership requests</h2>
    <h4>Pending list</h4>
</section>
<div class="option">
    <a class="button action-button" asp-action="Index">
        View full list
    </a>
</div>
<div class="sticky-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Email</td>
                    <td>@item.Status</td>
                    <td class="option">
                        <a class="button confirm-button" onclick="initAccept(@item.Id)">
                            <i class="fa-solid fa-check"></i>
                        </a>
                        <a class="button delete-button" onclick="initReject(@item.Id)">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="accept-container">
    <form class="accept-form" asp-action="Accept">
        <h2>Are you sure you want to accept this request?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="req-id" name="Id" />

        <div class="accept-control">
            <input class="button confirm-button" type="submit" value="Accept" />
            <button class="button cancel-button" type="button" onclick="cancelAccept()">Cancel</button>
        </div>
    </form>
</div>

<div class="delete-container">
    <form class="delete-form" asp-action="Reject">
        <h2>Are you sure you want to reject this request?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="req-id" name="Id" />

        <div class="delete-control">
            <input class="button delete-button" type="submit" value="Reject" />
            <button class="button cancel-button" type="button" onclick="cancelReject()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/membership-request/index.js"></script>
}
