@model IEnumerable<BirdClubManagementSystem.Models.MembershipRequest>

@{
    ViewData["Title"] = "ViewPending Membership";
}
@section Styles
{
    @*<link rel="stylesheet" href="~/css/reset.css" />*@
    <link rel="stylesheet" href="~/css/view-pending/approval.css" />
}

@* add code html(sticky table) *@
<section class="table-header">
        <h1>Membership Pending List</h1>
    </section>
    <div class="sticky-table">
        
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="user">
                            <!-- <img src="https://source.unsplash.com/random" alt=""> -->
                            <span>Vantcii</span>
                        </div>
                    </td>
                    <td>Thu Duc, Ho Chi Minh City</td>
                    <td>0686868686</td>
                    <td>conangnoiday@gmail.com</td>
                    <td>
                        <p class="status pending">Pending</p>
                    </td>
                    <td>
                        <div class="option">
                            <a href="" class="app-btn btn-accept">Accept</a>
                            <a href="" class="app-btn btn-reject">Reject</a>
                        </div>
                    </td>
                </tr>
                <!-- row 2 -->
                <tr>
                    <td>
                        <div class="user">
                            <!-- <img src="https://source.unsplash.com/random" alt=""> -->
                            <span>Vantcii</span>
                        </div>
                    </td>
                    <td>content2</td>
                    <td>content3</td>
                    <td>content4</td>
                    <td>
                        <p class="status accepted">Accepted</p>
                    </td>
                    <td>
                        <div class="option">
                            <a href="" class="app-btn btn-accept">Accept</a>
                            <a href="" class="app-btn btn-reject">Reject</a>
                        </div>
                    </td>
                </tr>
                <!-- row 3 -->
                <tr>
                    <td>
                        <div class="user">
                            <!-- <img src="https://source.unsplash.com/random" alt=""> -->
                            <span>Vantcii</span>
                        </div>
                    </td>
                    <td>content2</td>
                    <td>content3</td>
                    <td>content4</td>
                    <td>
                        <p class="status rejected">Rejected</p>
                    </td>
                    <td>
                        <div class="option">
                            <a href="" class="app-btn btn-accept">Accept</a>
                            <a href="" class="app-btn btn-reject">Reject</a>
                        </div>
                    </td>
                </tr>
                <!-- row 4 -->
                <tr>
                    <td>
                        <div class="user">
                            <!-- <img src="https://source.unsplash.com/random" alt=""> -->
                            <span>Vantcii</span>
                        </div>
                    </td>
                    <td>content2</td>
                    <td>content3</td>
                    <td>content4</td>
                    <td>
                        <p class="status accepted">Accepted</p>
                    </td>
                    <td>
                        <div class="option">
                            <a href="" class="app-btn btn-accept">Accept</a>
                            <a href="" class="app-btn btn-reject">Reject</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="user">
                            <!-- <img src="https://source.unsplash.com/random" alt=""> -->
                            <span>Vantcii</span>
                        </div>
                    </td>
                    <td>content2</td>
                    <td>content3</td>
                    <td>content4</td>
                    <td>
                        <p class="status accepted">Accepted</p>
                    </td>
                    <td>
                        <div class="option">
                            <a href="" class="app-btn btn-accept">Accept</a>
                            <a href="" class="app-btn btn-reject">Reject</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>





@* <h1>ViewPending</h1>

<p>
    <a asp-action="Index">View all requests</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @if (item.Status == "Pending")
                    {
                        <a asp-action="Accept" asp-route-id="@item.Id">Accept</a>
                        <a asp-action="Reject" asp-route-id="@item.Id">Reject</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table> *@
