@model BirdClubManagementSystem.Models.TournamentRegistration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TournamentRegistration</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bird.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bird.User.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bird)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bird.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentReceived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentReceived)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index" asp-route-tournamentid ="@Model.TournamentId">Back to List</a>
</div>
