@model IEnumerable<TournamentRegistrationDTO>

@{
    ViewData["Title"] = "Index";
    int tournamentId = Context.Session.GetInt32("TOURNAMENT_ID") ?? 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/search-form.css" />
    <link rel="stylesheet" href="~/css/event-registration/index.css" />
}

<section class="table-header">
    <h2>Participants list</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Keyword))
    {
        <h4>Search results</h4>
    }
</section>
<div class="search-form">
    <form method="get" asp-action="Index">
        <input type="hidden" name="tournamentId" value="@tournamentId" />

        <div class="search-group">
            <input name="keyword" type="text" placeholder="Search by user or bird" value="@ViewBag.Keyword" />
            <button class="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <br />
        <div class="pagination">
            <p>Page <input name="page" value="@ViewBag.Page" /> of @ViewBag.MaxPage</p>
        </div>
    </form>
</div>
<div class="sticky-table">
    <table>
        <thead>
            <tr>
                <th>Bird</th>
                <th>User</th>
                <th>Email</th>
                <th>Payment status</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Bird.Name</td>
                    <td>@item.Bird.User.Name</td>
                    <td>@item.Bird.User.Email</td>
                    @if (item.PaymentReceived)
                    {
                        <td>Received</td>
                    }
                    else
                    {
                        <td>Not received</td>
                    }
                    <td class="option">
                        <a class="button delete-button" onclick="initDelete(@item.Id)">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                        @if (!item.PaymentReceived)
                        {
                            <a class="button confirm-button" onclick="initToggle(@item.Id)">
                                <i class="fa-solid fa-money-bill-1-wave"></i>
                                <i class="fa-solid fa-check"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="delete-container">
    <form class="delete-form" asp-action="Delete">
        <h2>Remove this participant from the tournament?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="reg-id" name="Id" />

        <div class="delete-control">
            <input class="button delete-button" type="submit" value="Delete" />
            <button class="button cancel-button" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

<div class="toggle-container">
    <form class="toggle-form" asp-action="MarkAsPaid">
        <h2>Mark this registration as already paid?</h2>

        <input type="hidden" id="reg-id" name="Id" />

        <div class="toggle-control">
            <input class="button confirm-button" type="submit" value="Mark as paid" />
            <button class="button cancel-button" type="button" onclick="cancelToggle()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/event-registration/index.js"></script>
}