@model IEnumerable<TournamentRegistrationDTO>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/search-form.css" />
    <link rel="stylesheet" href="~/css/event-registration/index.css" />
}

<section class="table-header">
    <h2>Registrations for upcoming tournaments</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Keyword))
    {
        <h4>Search results</h4>
    }
</section>
<div class="search-form">
    <form method="get" asp-action="Index">
        <div class="search-group">
            <input name="keyword" type="text" placeholder="Search by tournament name" value="@ViewBag.Keyword" />
            <button class="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <br />
        <div class="pagination">
            <p>Page <input name="page" value="@ViewBag.Page" /> of @ViewBag.MaxPage</p>
        </div>
    </form>
</div>
<div class="sticky-table">
    <table>
        <thead>
            <tr>
                <th>Bird</th>
                <th>Tournament</th>
                <th>Payment status</th>
                <th>Pay entrance fee</th>
                <th>Cancel registration</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Bird.Name</td>
                    <td>@item.Tournament.Name</td>
                    @if (item.PaymentReceived)
                    {
                        <td>Received</td>
                        <td></td>
                    }
                    else
                    {
                        <td>Not received</td>
                        <td class="option">
                            <a class="button action-button" asp-action="GeneratePaymentUrl" asp-route-id="@item.Id">
                                <i class="fa-solid fa-money-check-dollar"></i>
                                Pay
                            </a>
                        </td>
                    }
                    <td class="option">
                        <a class="button delete-button" onclick="initDelete(@item.Id)">
                            <i class="fa-solid fa-xmark"></i>
                            Cancel
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="delete-container">
    <form class="delete-form" asp-action="Delete">
        <h2>Are you sure you want to cancel this registration?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="reg-id" name="Id" />

        <div class="delete-control">
            <input class="button delete-button" type="submit" value="Delete" />
            <button class="button cancel-button" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/event-registration/index.js"></script>
}