@model TournamentRegistration

@{
    ViewData["Title"] = "PayEntranceFee";
}

<h1>Payment Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bird.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bird.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bird)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bird.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Fee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Fee)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="GeneratePaymentUrl">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Pay Entrance Fee" class="btn" />
    </form>
</div>