@model IEnumerable<BirdClubManagementSystem.Models.FieldTripRegistration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-action="Index" asp-controller="ClubEvents">Back to list</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldTrip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentReceived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FieldTrip.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentReceived)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
