@model IEnumerable<BirdClubManagementSystem.Models.IClubEvent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @{
                        string controller = string.Empty;
                        switch (item)
                        {
                            case FieldTrip:
                                controller = "FieldTrip";
                                break;
                            case Meeting:
                                controller = "Meeting";
                                break;
                            case Tournament:
                                controller = "Tournament";
                                break;
                            default:
                                break;
                        }
                    }
                    <a asp-controller="@controller" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

