@model IEnumerable<BlogDTO>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/list.css" />
}

<section class="table-header">
    <h2>Blog history</h2>
</section>
<div class="option">
    <a class="button action-button" asp-action="Create" asp-controller="Blogs">
        <i class="fa-solid fa-circle-plus"></i>
        Create new blog
    </a>
</div>
<div class="sticky-table">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Date created / modified</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string title = item.Title.Length > 30 ? item.Title.Remove(30) + "..." : item.Title;
                <tr>
                    <td>@title</td>
                    <td>@item.BlogCategory.Name</td>
                    <td>@item.DateCreated</td>
                    <td>@BlogStatuses.Convert(item.Status)</td>
                    <td class="option">
                        @if (item.Status == BlogStatuses.Accepted)
                        {
                            <a class="button action-button" asp-action="Details" asp-controller="Blogs" asp-route-id="@item.Id">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        }
                        @if (item.Status == BlogStatuses.Pending)
                        {
                            <a class="button action-button" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a class="button action-button" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <a class="button delete-button" onclick="initDelete(@item.Id)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="delete-container">
    <form class="delete-form" asp-action="Delete">
        <h2>Are you sure you want to delete this blog?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="blog-id" name="Id" />

        <div class="delete-control">
            <input class="button delete-button" type="submit" value="Delete" />
            <button class="button cancel-button" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/blog-history/index.js"></script>
}
