@model IEnumerable<TournamentStandingDTO>

@{
    ViewData["Title"] = "Index";
    int tournamentId = Context.Session.GetInt32("TOURNAMENT_ID") ?? 0;
}

@section Styles {
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/search-form.css" />
}

<section class="table-header">
    <h2>Tournament rankings</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Keyword) || !string.IsNullOrEmpty(ViewBag.Placement))
    {
        <h4>Search results</h4>
    }
</section>
<div class="search-form">
    <form method="get" asp-action="Index">
        <input type="hidden" name="tournamentId" value="@tournamentId" />
        <div class="select">
            <select name="placement" data-selected="@ViewBag.Placement" class="placement-list">
                <option value="">All</option>
                <option value="@TournamentPlacements.FirstPlace">
                    @TournamentPlacements.Convert(TournamentPlacements.FirstPlace)
                </option>
                <option value="@TournamentPlacements.SecondPlace">
                    @TournamentPlacements.Convert(TournamentPlacements.SecondPlace)
                </option>
                <option value="@TournamentPlacements.ThirdPlace">
                    @TournamentPlacements.Convert(TournamentPlacements.ThirdPlace)
                </option>
                <option value="@TournamentPlacements.Participation">
                    @TournamentPlacements.Convert(TournamentPlacements.Participation)
                </option>
            </select>
        </div>

        <div class="search-group">
            <input name="keyword" type="text" placeholder="Search by user or bird" value="@ViewBag.Keyword" />
            <button class="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <br />
        <div class="pagination">
            <p>Page <input name="page" value="@ViewBag.Page" /> of @ViewBag.MaxPage</p>
        </div>
    </form>
</div>
<div class="option">
    <a class="button action-button" asp-action="Create" asp-route-tournamentid="@tournamentId">
        <i class="fa-solid fa-circle-plus"></i>
        Add ranking information
    </a>
</div>
<div class="sticky-table">
    <table>
        <thead>
            <tr>
                <th>Bird</th>
                <th>User</th>
                <th>Placement</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Bird.Name</td>
                    <td>@item.Bird.User.Name</td>
                    <td>@TournamentPlacements.Convert(item.Placement)</td>
                    <td class="option">
                        <a class="button action-button" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a class="button delete-button" onclick="initDelete(@item.Id)">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="delete-container">
    <form class="delete-form" asp-action="Delete">
        <h2>Are you sure you want to delete this ranking?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" id="ts-id" name="Id" />

        <div class="delete-control">
            <input class="button delete-button" type="submit" value="Delete" />
            <button class="button cancel-button" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/tournament-standing/index.js"></script>
}