@model Blog

@section Styles
{
    <link rel="stylesheet" href="~/css/blog/detail.css" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
}

@{
    ViewData["Title"] = "Details";
}

<section class="blog-section">
    <div class="blog-comment-container">
        <div class="blog-container">
            <div class="blog-thumbnail-container">
                <img class="blog-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = Model.Id })" alt="thumbnail" />
            </div>

            <div class="blog-body">
                <div class="blog-info-container">
                    <div class="blog-author-info-container">
                        <div class="blog-author-ava-container">
                            <img class="blog-author-ava" src="@Url.Action("GetImageFromBytes", "Profile", new { id = Model.UserId })" alt="author" />
                        </div>

                        <p class="blog-author-name">By @Model.User.Name</p>
                    </div>

                    <p class="blog-create-date">@Model.DateCreated.ToString("dd MMMM, yyyy")</p>
                </div>

                <h2 class="blog-title">@Model.Title</h2>

                <div class="blog-content">@Html.Raw(Model.Contents)</div>
            </div>
        </div>
    </div>

    <div class="blog-utils-container">
        <div class="blog-control-container">
            @* @if (@Model.Status.Equals("Pending"))
            { *@
                <button class="control-button confirm-button" type="button" onclick="initAccept(@Model.Id)">Accept</button>
                <button type="button" class="control-button reject-button" onclick="initReject(@Model.Id)">Reject</button>
            @* } *@
            <a class="control-button cancel-button" asp-action="Index">Back to List</a>
        </div>

        <div class="search-blogs-container">
            <h2>Search</h2>
            <form class="search-box-container">
                <input class="search-box" type="text" placeholder="Search something..." />
            </form>
        </div>
        <div class="latest-blogs-container">
            <h2>Latest News</h2>
            <div class="latest-blog">
                <div class="latest-blog-thumbnail-container">
                    <img class="latest-blog-thumbnail" src="@Url.Action("GetImageFromBytes", "Blogs", new { id = Model.Id })" alt="thumbnail" />
                </div>

                <div class="latest-blog-title">@Model.Title</div>
            </div>
        </div>
    </div>
</section>

<div class="accept-container">
    <form class="accept-form" asp-action="Accept">
        <h2>Are you sure you want to acccept this blog?</h2>
        <input type="hidden" class="blog-id" name="Id" />

        <div class="accept-control">
            <input class="button confirm-button" type="submit" value="Accept" />
            <button class="button cancel-button" type="button" onclick="cancelAccept()">Cancel</button>
        </div>
    </form>
</div>

<div class="reject-container">
    <form class="reject-form" asp-action="Reject">
        <h2>Are you sure you want to reject this blog?</h2>
        <input type="hidden" class="blog-id" name="Id" />

        <div class="reject-control">
            <input class="button reject-button" type="submit" value="Reject" />
            <button class="button cancel-button" type="button" onclick="cancelReject()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/blog/detail.js"></script>
}
