@model IEnumerable<BlogDTO>

@section Styles
{
    <link rel="stylesheet" href="~/css/blog/blog.css" />
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/list.css" />
    <link rel="stylesheet" href="~/css/search-form.css" />
}

@{
    ViewData["Title"] = "Index";
}

<section class="table-header">
    <h2>Blog list</h2>
    @if (!string.IsNullOrEmpty(ViewBag.Keyword) || !string.IsNullOrEmpty(ViewBag.Status))
    {
        <h4>Search results</h4>
    }
</section>
<div class="option">
    <a class="button action-button" asp-action="Create" asp-controller="Blogs">
        <i class="fa-solid fa-circle-plus"></i>
        Create new blog
    </a>
</div>
<div class="search-form">
    <form method="get" asp-action="Index">
        <div class="select">
            <select name="status" data-selected="@ViewBag.Status" class="status-list">
                <option value="">All</option>
                <option value="@BlogStatuses.Accepted">
                    @BlogStatuses.Convert(BlogStatuses.Accepted)
                </option>
                <option value="@BlogStatuses.Pending">
                    @BlogStatuses.Convert(BlogStatuses.Pending)
                </option>
                <option value="@BlogStatuses.Rejected">
                    @BlogStatuses.Convert(BlogStatuses.Rejected)
                </option>
            </select>
        </div>

        <div class="search-group">
            <input name="keyword" type="text" placeholder="Search by title" value="@ViewBag.Keyword" />
            <button class="search-button" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <br />
        <div class="pagination">
            <p>Page <input name="page" value="@ViewBag.Page" /> of @ViewBag.MaxPage</p>
        </div>
    </form>
</div>
<div class="sticky-table">
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Date created / modified</th>
                <th>Status</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string title = item.Title.Length > 30 ? item.Title.Remove(30) + "..." : item.Title;
                <tr>
                    <td>@title</td>
                    <td>@item.BlogCategory.Name</td>
                    <td>@item.DateCreated</td>
                    <td>@BlogStatuses.Convert(item.Status)</td>
                    <td class="option">
                        @if (item.Status == BlogStatuses.Accepted)
                        {
                            <a class="button action-button" asp-action="Details" asp-controller="Blogs" asp-route-id="@item.Id">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a class="button delete-button" onclick="initDelete(@item.Id)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        }
                        @if (item.Status == BlogStatuses.Pending)
                        {
                            <a class="button action-button" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a class="button confirm-button" onclick="initAccept(@item.Id)">
                                <i class="fa-solid fa-check"></i>
                            </a>
                            <a class="button reject-button" onclick="initReject(@item.Id)">
                                <i class="fa-solid fa-x"></i>
                            </a>
                        }
                        @if (item.Status == BlogStatuses.Rejected)
                        {
                            <a class="button delete-button" onclick="initDelete(@item.Id)">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="delete-container">
    <form class="delete-form" asp-action="Delete">
        <h2>Are you sure you want to delete this blog?</h2>
        <p>This action cannot be undone!</p>

        <input type="hidden" class="blog-id" name="Id" />

        <div class="delete-control">
            <input class="button delete-button" type="submit" value="Delete" />
            <button class="button cancel-button" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

<div class="accept-container">
    <form class="accept-form" asp-action="Accept">
        <h2>Are you sure you want to acccept this blog?</h2>
        <input type="hidden" class="blog-id" name="Id" />

        <div class="accept-control">
            <input class="button confirm-button" type="submit" value="Accept" />
            <button class="button cancel-button" type="button" onclick="cancelAccept()">Cancel</button>
        </div>
    </form>
</div>

<div class="reject-container">
    <form class="reject-form" asp-action="Reject">
        <h2>Are you sure you want to reject this blog?</h2>
        <input type="hidden" class="blog-id" name="Id" />

        <div class="reject-control">
            <input class="button reject-button" type="submit" value="Reject" />
            <button class="button cancel-button" type="button" onclick="cancelReject()">Cancel</button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/blog/index.js"></script>
}
