<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BirdClubManagementSystem</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" />
    @RenderSection("Styles", required: false)

    <script src="~/js/site.js" defer asp-append-version="true"></script>
</head>

@{
    var userId = Context.Session.GetInt32("USER_ID");
    var userRole = Context.Session.GetString("USER_ROLE");
}

<body>
    <header>
        <nav>
            <div class="nav-logo-container">
                <div class="nav-logo-img-container">
                    <img class="nav-logo-img" src="~/img/nav/club_logo.svg" alt="logo" />
                </div>
                <h1 class="nav-club-title">VNCMBC</h1>
            </div>

            <div class="nav-bar-container">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                <a asp-controller="MembershipRequests" asp-action="Index" class="nav-link">Membership</a>
                <a asp-controller="Blogs" asp-action="Index" class="nav-link">Blogs</a>
                <a asp-controller="ClubEvents" asp-action="Index" class="nav-link">Events</a>
                <a asp-controller="Feedbacks" asp-action="Index" class="nav-link">Feedbacks</a>
            </div>

            <div class="nav-user-utils-container">
                @if (userId != null)
                {
                    <div class="nav-ava-container">
                        <img class="nav-ava-img" src="@Url.Action("GetImageFromBytes", "Profile", new { id = userId })" alt="avatar" onclick="toggleMenu()" />
                    </div>

                    @* add here dropdown *@
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="user-info">
                                <img src="@Url.Action("GetImageFromBytes", "Profile", new { id = userId })" alt="avatar" />
                                <h2>@Context.Session.GetString("USER_NAME")</h2>
                            </div>
                            <hr />

                            <a asp-action="Index" asp-controller="Profile" class="sub-menu-link">
                                <img src="~/img/icon_svg/profile.svg" alt="icon">
                                <p>Edit profile</p>
                                <span>&gt;</span>
                            </a>
                            <hr />

                            @if (userRole == "Admin")
                            {
                                <a asp-action="Index" asp-controller="UserManagement" class="sub-menu-link">
                                    <img src="~/img/icon_svg/profile.svg" alt="icon">
                                    <p>User management</p>
                                    <span>&gt;</span>
                                </a>
                                <a asp-action="Index" asp-controller="Dashboard" class="sub-menu-link">
                                    <img src="~/img/dashboard/dashboard-icon.svg" alt="icon">
                                    <p>Dashboard</p>
                                    <span>&gt;</span>
                                </a>
                                <hr />
                            }

                            <a asp-action="Index" asp-controller="Notifications" class="sub-menu-link">
                                <img src="~/img/contact/mail-icon.svg" alt="icon">
                                <p>Send a notification</p>
                                <span>&gt;</span>
                            </a>
                            <hr />

                            <a asp-action="Index" asp-controller="Logout" class="sub-menu-link">
                                <img src="~/img/icon_svg/log-out.svg" alt="icon">
                                <p>Log out</p>
                                <span>&gt;</span>
                            </a>
                        </div>
                    </div>
                    @* end dropdown html *@
                }
                else
                {
                    <a asp-controller="Login" asp-action="Index" class="nav-login-link">Log In</a>
                }

                <div class="nav-menu-icon-container">
                    <img class="nav-menu-icon" src="~/img/nav/menu.png" alt="menu icon" />
                </div>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await Html.PartialAsync("_Notification")
    @RenderSection("Scripts", required: false)
</body>
</html>
