@model IClubEventDTO

@{
    ViewData["Title"] = "Details";
}

<section class="event-section">
    <div class="event-body">
        <h1 class="event-title">@Model.Name</h1>

        <div class="address-info">
            <p><b>This event takes place at:</b> @Model.Address</p>
        </div>

        <div class="date-info">
            <p><b>Start date:</b> @Model.StartDate</p>
            <p><b>Expected end date:</b> @Model.ExpectedEndDate</p>
            <p><b>Registration period:</b> @Model.RegOpenDate - @Model.RegCloseDate</p>
        </div>
        
        <div class="event-entrance-container">
            <p><b>Number of participants:</b> @Model.RegLimit</p>
            <p><b>Fee:</b> @Model.Fee</p>
            <p><b>Status:</b> @EventStatuses.Convert(Model.Status)</p>
        </div>

        <div class="event-description-container">
            <h2 class="event-description-title">Description</h2>
            <div class="event-description">
                @Html.Raw(Model.Description)
            </div>
        </div>
        
    </div>
</section>

<div class="delete-event-container">
    <form class="delete-event-form" asp-action="Delete" asp-route-id="@Model.Id">
        <h2>Are you sure you want to delete this event?</h2>
        <p>This action can not be undone!</p>

        <input type="hidden" asp-for="Id" />

        <div class="delete-event-control">
            <input class="button delete-button" type="submit" value="Delete" />
            <button class="button cancel-button" type="button" onclick="cancelDelete()">Cancel</button>
        </div>
    </form>
</div>

<div class="update-status-container">
    <form class="update-status-form" asp-action="UpdateStatus">
        <h2>Event status update</h2>

        <p>Change this event's status to:</p>
        <br />
        <select name="statusCode" class="status-list">
            <option value="@EventStatuses.RegOpened">
                @EventStatuses.Convert(EventStatuses.RegOpened)
            </option>
            <option value="@EventStatuses.RegClosed">
                @EventStatuses.Convert(EventStatuses.RegClosed)
            </option>
            <option value="@EventStatuses.Start">
                @EventStatuses.Convert(EventStatuses.Start)
            </option>
            <option value="@EventStatuses.Ended">
                @EventStatuses.Convert(EventStatuses.Ended)
            </option>
            <option value="@EventStatuses.Cancelled">
                @EventStatuses.Convert(EventStatuses.Cancelled)
            </option>
        </select>

        <input type="hidden" name="id" value="@Model.Id" />

        <div class="update-status-control">
            <input class="button status-button" type="submit" value="Save" />
            <button class="button cancel-button" type="button" onclick="cancelStatus()">Cancel</button>
        </div>
    </form>
</div>