@model IEnumerable<IClubEventDTO>

@section Styles
{
    <link rel="stylesheet" href="~/css/event/event.css" />
}

@{
    ViewData["Title"] = "Index";

    var dateBlocks = new Dictionary<DateTime, IEnumerable<IClubEventDTO>>();
    if (Model.Any())
    {
        DateTime currentDateTime = Model.First().StartDate.Date;
        var clubEvents = Enumerable.Empty<IClubEventDTO>();
        foreach (var item in Model)
        {
            if (item.StartDate.Date != currentDateTime) {
                dateBlocks.Add(currentDateTime, clubEvents);
                currentDateTime = item.StartDate.Date;
                clubEvents = Enumerable.Empty<IClubEventDTO>();
            }
            clubEvents = clubEvents.Append(item);
        }
        if (Model.Any()) {
            dateBlocks.Add(currentDateTime, clubEvents);
        }
    }
}

<p class="events-control">
    <a class="control-button" asp-action="Create" asp-controller="FieldTrips">New Field Trip</a>
    <a class="control-button" asp-action="Create" asp-controller="Meetings">New Meeting</a>
    <a class="control-button" asp-action="Create" asp-controller="Tournaments">New Tournament</a>
</p>

<section class="event-section">
    <h1>Events</h1>

    @if (dateBlocks.Any())
    {
        <section class="events-container">
            @foreach (var dateBlock in dateBlocks)
            {
                <div class="events-as-date-container">
                    <div class="date-breakline-container">
                        <div class="date">
                            <h2>@dateBlock.Key.ToShortDateString()</h2>
                        </div>
                        <div class="breakline"></div>
                    </div>

                    @foreach (var e in dateBlock.Value)
                    {
                        string controller = string.Empty;
                        string image = string.Empty;
                        string bgColor = string.Empty;
                        switch (e)
                        {
                            case FieldTrip:
                                controller = "FieldTrips";
                                image = "fieldtrip-banner.png";
                                bgColor = "#4f78ff";
                                break;
                            case Meeting:
                                controller = "Meetings";
                                image = "meeting-banner.png";
                                bgColor = "#AD82D9";
                                break;
                            case Tournament:
                                controller = "Tournaments";
                                image = "tournament-banner.png";
                                bgColor = "#AD82D9";
                                break;
                            default:
                                break;
                        }

                        <a class="event-container" asp-controller="@controller" asp-action="Details" asp-route-id="@e.Id">
                            <div class="event-name" style="background-color: @bgColor;">
                                <h2>@e.Name</h2>
                            </div>

                            <div class="bg-container">
                                <img class="bg" src="~/img/events/@image" alt="bg" />
                            </div>
                            
                            <div class="event-time" style="background-color: @bgColor;">
                                <p>@e.StartDate.TimeOfDay</p>
                            </div>
                        </a>
                    }
                </div>
            }        
        </section>
    }
    else
    {
        <h2>No events was found</h2>
    }
</section>
